<h1 mat-dialog-title> Patient Source Selection </h1>
<div mat-dialog-content>
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let source of data.sources" [value]="source">
      {{source}}
    </mat-option>
  </mat-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> Cancel</button>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="selected">
    Ok
  </button>
</div>
