<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="filter">
  </mat-form-field>
</div>

<table mat-table [dataSource]="availableInputManagers">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Room ID Column -->
  <ng-container matColumnDef="roomId">
    <th mat-header-cell *matHeaderCellDef> Room ID</th>
    <td mat-cell *matCellDef="let element"> {{element.roomId}} </td>
  </ng-container>

  <!-- Device ID In Room Column -->
  <ng-container matColumnDef="deviceIdInRoom">
    <th mat-header-cell *matHeaderCellDef> Device ID In Room</th>
    <td mat-cell *matCellDef="let element"> {{element.deviceIdInRoom}} </td>
  </ng-container>

  <!-- Selection Column -->
  <ng-container matColumnDef="selection">
    <th mat-header-cell *matHeaderCellDef> Selection</th>
    <td mat-cell *matCellDef="let element; index as idx;">
      <button mat-raised-button color="primary" (click)="selectOutputManager(idx)"> Select</button>
    </td>
  </ng-container>

</table>
