<div class='subtractToGridHeight' style="background-color: lightseagreen">
  <mat-form-field>
    <input matInput type="number" placeholder="Rows" [(ngModel)]="grid.rows" >
  </mat-form-field>

  <mat-form-field >
    <input matInput type="number" placeholder="Columns" [(ngModel)]="grid.columns">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="changeGridSize()">Change Grid Size</button>

  <button mat-raised-button color="primary" (click)="saveProfile()">Save Profile</button>
</div>

<app-grid-layout
  [componentResolver]="componentResolver"
  [onEventEmitted]="onEventEmitted"
></app-grid-layout>
