<table mat-table [dataSource]="videoStreamsList">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <!-- Stream Type Column -->
  <ng-container matColumnDef="streamType">
    <th mat-header-cell *matHeaderCellDef> Stream Type </th>
    <td mat-cell *matCellDef="let element"> {{element.streamType}} </td>
  </ng-container>

  <!-- Live Column -->
  <ng-container matColumnDef="live">
    <th mat-header-cell *matHeaderCellDef> Live </th>
    <td mat-cell *matCellDef="let element"> {{element.live}} </td>
  </ng-container>

  <!-- Creation Date Column -->
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef> Creation Date </th>
    <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
  </ng-container>

</table>
