<table mat-table [dataSource]="availableTacList">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Internal Number Column -->
  <ng-container matColumnDef="internalNumber">
    <th mat-header-cell *matHeaderCellDef> Internal Number</th>
    <td mat-cell *matCellDef="let element"> {{element.internalNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let element"> {{parseMilliSecondFromEpochAsString(element.date)}} </td>
  </ng-container>

</table>
