<img src="{{data.images.url}}" alt="{{data.images.name}}" width="{{imgSize.imgWidth}}" height="{{imgSize.imgHeight}}">

<!--
<button mat-raised-button color="primary">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<button mat-raised-button color="primary">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>
-->
