h1 {
  text-align: center;
}

$width: 45.5%;
$margin: 1%;
$minHeight: 400px;

#smartScreenSelection {
  float: left;
  width: $width;
  overflow: hidden;
  margin: $margin;
  min-height: $minHeight;
}

#outputManagerSelection {
  float: left;
  width: $width;
  overflow: hidden;
  margin: $margin;
  min-height: $minHeight;
}

mat-card-title {
  font-size: 30px !important;
}

p {
  font-size: 22px !important;
}

mat-card-actions {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
