<h1>
  Select the device mode
</h1>

<div>

  <!-- Smart Screen Selection -->
  <mat-card id="smartScreenSelection">
    <mat-card-header>
      <mat-card-title>Output Mode</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Select this mode to select the smart screen source to display
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="goToSmartScreenSelection()">
        Select
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Output Manager Selection -->
  <mat-card id="outputManagerSelection">
    <mat-card-header>
      <mat-card-title>Input Mode</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Select this mode to select the input manager source to manage the display
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="goToInputMangerSelection()">
        Select
      </button>
    </mat-card-actions>
  </mat-card>
</div>
