<div class="table-container">
  <div class="data-info">Patient name: {{patientData.patientName}}</div>
  <div class="data-info">Timestamp: {{parseTimestamp(patientData.timestamp)}}</div>

  <div class="vital-parameters">
    <div class="vital-parameter" *ngFor="let param of patientData.data">
      <div class="type">{{param.type}}:</div>
      <div class="value">{{param.value}} {{param.uom}}</div>
    </div>
  </div>


<!--
  <table mat-table [dataSource]="patientData.data">

    <!-- Type Column -->
<!--    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Value Column -->
<!--    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value</th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <!-- Uom Column -->
<!--    <ng-container matColumnDef="uom">
        <th mat-header-cell *matHeaderCellDef> Uom</th>
        <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>-->
</div>
