div {
  color: black;
}

.data-info {
  text-align: center;
}

table {
  width: 100%;
}

.vital-parameters {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.vital-parameter {
  flex: 1 1 100%;
  min-width: 46%;
  max-width: 46%;
  border: black solid 1px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  display: flex;
  .type {
    font-weight: bold;
    min-width: 40%;
    max-width: 40%;
    width: 40%;
  }
}
