<h1 mat-dialog-title> Available Actions </h1>

<!-- TODO: spacing with br is evil, but I have more important things to do-->
<br><br>

<div mat-dialog-content>
  <mat-select [(value)]="selectedAction" (selectionChange)="onSelectedActionChange()"> <!--$event-->
    <mat-option *ngFor="let action of data" [value]="action">
      {{action.name}}
    </mat-option>
  </mat-select>

  <br><br><br>

  Description: {{selectedAction.description}}

  <br><br><br>

  <div *ngFor="let param of selectedAction.params; let paramIdx = index;">
    {{param.description}}

    <br><br><br>

    <div *ngIf="param.visible">
      <div ngSwitch="{{switchActionVisualizer(param)}}">

        <!-- array type -->
        <div *ngSwitchCase="'array-type'">
          <button mat-raised-button
                  color="primary"
                  (click)="checkAll(param, param.items)">Select All
          </button>

          <button mat-raised-button
                  color="primary"
                  (click)="unCheckAll(param, param.items)">Deselect All
          </button>

          <div *ngFor="let item of param.items">
            <mat-checkbox
              [ngModel]="isToCheck(param, item)"
              (change)="onCheckboxChange($event.checked, param, item)">
              {{item}}
            </mat-checkbox>
          </div>
        </div>

        <!-- single type -->
        <div *ngSwitchCase="'single-type'">
          <mat-select *ngIf="isArray(param.items)" [(value)]="param.value">
            <mat-option *ngFor="let item of param.items" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>

          <mat-form-field *ngIf="!isArray(param.items)" class="example-full-width">
            <input matInput
                   type="{{param.type === 'int'?'number':'text'}}"
                   [(ngModel)]="param.value">
          </mat-form-field>
        </div>

        <!-- default -->
        <div *ngSwitchDefault>
          not supported
        </div>

      </div>

    </div>
  </div>
</div>

<br><br>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> Cancel</button>
  <!-- TODO: disabled when some data are not ok -->
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="selectedAction">
    Ok
  </button>
</div>
