<button mat-raised-button color="warn"
        (click)="removeComponent();$event.stopPropagation()"
>
  Remove
</button>

<button mat-raised-button color="primary"
        (click)="resizeComponent();$event.stopPropagation()"
>
  Resize
</button>

<p *ngIf="tile != null">Source type: {{tile.cell.component.sourceType}}</p>
<p>
  Tap to display the available actions
</p>
