<h1 mat-dialog-title> Patient Selection </h1>
<div mat-dialog-content>
  <p>Insert a valid patient id</p>
  <p>Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="codes.name">
  </mat-form-field>
  <p>Patient ID</p>
  <mat-form-field>
    <input matInput [(ngModel)]="codes.pid">
  </mat-form-field>
  <p>PS Code</p>
  <mat-form-field>
    <input matInput [(ngModel)]="codes.ps">
  </mat-form-field>
  <p>Timestamp</p>
  <mat-form-field>
    <input matInput [(ngModel)]="codes.timestamp">
  </mat-form-field>
  <p>Temporary Code</p>
  <mat-form-field>
    <input matInput [(ngModel)]="codes.tmp">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> Back</button>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="codes">
    Ok
  </button>
</div>
