<!--<mat-grid-list class="grid" cols="{{gridColumns}}" rowHeight="fit">-->
<mat-grid-list class="grid"
               cols="{{gridList.columns}}"
               rowHeight="{{gridList.rowHeight}}">
  <mat-grid-tile
    *ngFor="let tile of tiles; index as idx;"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
    id="{{'tile-' + idx}}"
    (click)="onTileClick(idx)"
  >

    <!-- directive used to dynamically load the components
    used to display the data inside each grid tile -->
    <ng-template appDataViewer></ng-template>

  </mat-grid-tile>
</mat-grid-list>
