<h1 mat-dialog-title> Select Positions </h1>
<div id="grid-container" [ngStyle]="{'height': this.height}" mat-dialog-content>
  <mat-grid-list class="grid" cols="{{gridColumns}}" rowHeight="{{rowHeight}}">
    <mat-grid-tile
      *ngFor="let positionTile of positionsTiles"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="positionTile.color.valueOf()"
      (click)="onTileClick(positionTile.color, positionTile.idx)"
    >
      {{positionTile.idx}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div id="actions" mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> Back</button>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="positionsToOccupyList">
    Ok
  </button>
</div>
